<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zxy.repository.back.mapper.ItemMapper">
    <resultMap id="BaseResultMap" type="org.zxy.repository.back.entity.Item">
        <!--@mbg.generated-->
        <!--@Table kb_item-->
        <id column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="surface" jdbcType="VARCHAR" property="surface"/>
        <result column="tag" jdbcType="INTEGER" property="tag"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="column_id" jdbcType="INTEGER" property="columnId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        item_id, title, content, surface, tag, publish_time, user_id, column_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from kb_item
        where item_id = #{itemId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from kb_item
        where item_id = #{itemId,jdbcType=INTEGER}
    </delete>
    <update id="updateByPrimaryKeySelective" parameterType="org.zxy.repository.back.entity.Item">
        <!--@mbg.generated-->
        update kb_item
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="surface != null">
                surface = #{surface,jdbcType=VARCHAR},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=INTEGER},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="columnId != null">
                column_id = #{columnId,jdbcType=INTEGER},
            </if>
        </set>
        where item_id = #{itemId,jdbcType=INTEGER}
    </update>
    <!--auto generated by MybatisCodeHelper on 2020-07-06-->
    <select id="selectByTitleOrderByPublishTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from kb_item
        <where>
            <if test="title != null and title != ''">
                and title like concat('%',#{title,jdbcType=VARCHAR} ,'%')
            </if>
        </where>
        order by publish_time asc
    </select>
</mapper>